# Build output
dist/

# Archives
*.zip
*.7z

# Dependencies
node_modules/

# System files
.DS_Store
Thumbs.db

# Editor files
.vscode/*
# !.vscode/tasks.json
!.vscode/extensions.json

# Temporary files
*.log
*.tmp

# Environment variables
.env
.env.local
_office/